* {
  box-sizing: border-box;
  margin: 0;
  font: sans-serif;
}
@import url();
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 238, 244);
}
.hamgiin-gaduurh {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black 99%),
    url(https://unread.today/files/ed579b98-8b6a-46a5-a2db-38fafd069ab2/530e016dcc4b4b2281684521a7a623b4.jpg);
  position: absolute;
  height: 80vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
header {
  height: 42px;
  width: calc(100% - 90px);
  max-width: 1525px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 19px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.26rem;
}
.burger_menu {
  height: 42px;
  width: 42px;
  align-items: center;
  display: flex;
  z-index: 1;
}
.mid {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 400px);
  max-width: 1400px;
}
.navdar-content {
  display: flex;
  align-items: center;
  height: 42px;
  max-width: 980px;
  padding: 0 25px;
}
.logo {
  height: 18px;
  z-index: 1;
}

.search-field {
  background: 0;
  border: 0;
}
.opacity0_5 {
  opacity: 0.5;
  font-size: 0.9rem;
}
.random {
  display: flex;
  align-items: center;
}
.bold {
  font-weight: 500;
}
.white {
  color: #fff;
  z-index: 1;
}
.random_txt {
  margin-left: 5px !important;
  font-size: 1rem;
}
.chip {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 1rem;
  margin-left: 10px;
  z-index: 1;
  text-decoration: none;
  width: fit-content;
}
.hero {
  width: calc(100% - 300px);
  max-width: 1400px;
  padding: 63px;
  margin-top: -35px;
  display: flex;
  justify-content: space-between;
  gap: 61px;
}
.hero_img {
  z-index: 1;
  width: 40%;
  height: auto;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://unread.today/files/ed579b98-8b6a-46a5-a2db-38fafd069ab2/530e016dcc4b4b2281684521a7a623b4.jpg);
  border-radius: 30px;
}
.img_hero {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.hero_content_container {
  z-index: 1;
  max-width: 60%;
}
@keyframes blinker1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blinker {
  animation-name: blinker1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: rgba(0, 63, 250, 0.884);
}
.transparent {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
}

.hero_content_container h1 {
  font-size: 3.6rem;
  line-height: 4.3rem;
  font-weight: 900;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: #fff;
}
.hero_content_container h6 {
  font-size: 1.2rem;
  line-height: 2.1rem;
}
.post_slider {
  z-index: 1;
  width: calc(100% - 300px);
  max-width: 2000px;
}
.post_chooser {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}
.baruun_zuun {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.post_chooser h5 {
  font-size: 1.62rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(5, 15%);
  justify-content: space-around;
}
.card {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), black 120%),
    url(https://unread.today/files/ed579b98-8b6a-46a5-a2db-38fafd069ab2/530e016dcc4b4b2281684521a7a623b4.jpg);
}
.blue_bc {
  background-color: rgb(61, 61, 255);
}
.card_top {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.card_fooder {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
#med {
  font-size: 0.7rem;
}
.this_week {
  margin-top: 80px;
}

.article1 {
  font-size: 10px;
  max-width: 1000px;
  width: 80%;
  margin-bottom: 4.4em;
}
.author-photo {
  height: 50px;
  border-radius: 50%;
}
.author-name {
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.author_time span {
  color: black;
}
.author {
  display: flex;
  align-items: center;
}
.left {
  flex-direction: row;
}
.left .content {
  background-color: #fff;

  border-radius: 80px, 80px, 80x, 80px;
}
.rite {
  flex-direction: row-reverse;
}
.content {
  display: flex;
  flex-direction: row-reverse;
  padding: 2.8em 6.5em 2em 5.1em;
}
.cover {
  border-radius: 50%;
  float: right;
  width: 135px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover img {
  max-width: 100%;
  height: 100%;
}
.category {
  color: blue;
  display: flex;
}
.category a,
i {
  font-size: 1rem;
}
.title a {
  color: black;
  font-size: 2.16rem;
  line-height: 2.6rem;
}
.pre_week {
  margin: 3.5rem, 0;
  display: flex;
  flex-direction: column;
}
.pre_week_tabs {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
}
